h4{
    font-family: OpenSans-B;
}
.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.prev-arrow{
    left: -15px;
    width: 0;
    height: 0;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: white;
}
.next-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0;
    width: 0;
    height: 0;
    background-color: white;
}
main.product .introduce img{
    border: 1px solid #eaeaea;
    padding: 2px;
}
main.product .introduce .slider-nav{
    margin: 10px 80px;
}
main.product .introduce .slider-nav .slide-img{
    margin: 4px;
}
main.product .introduce .slider-nav .selected{
    border: 1px solid #46ad0e;
}
main.product .introduce .title{
    border-bottom: 1px dashed #bbbbbb;
}
main.product .introduce .info{
    border-bottom: 1px dashed #bbbbbb;
    padding: 15px 0;
}
main.product .introduce .info .title{
    border-bottom: 7px solid white;
}
main.product .introduce .info .price{
    color: #ff3f00;
}
main.product .introduce .info input{
    max-width: 100px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px;
}
main.product .introduce .info button{
    max-width: 140px;
    color: white;
    background-color: #46ad0e;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
main.product .introduce .des{
    border-bottom: 1px dashed #bbbbbb;
    padding: 25px 0;
}
main.product .introduce .des p{
    margin: 5px 0;
}
main.product .content .card{
    margin: 35px 0;
    border: none;
}
main.product .content .card-header{
    background-color: #46ad0e;
    border-radius: 0;
}
main.product .content .card-header .nav-link{
    border-radius: 0;
    color: white;
}
main.product .content .card-header .active{
    color: black;
}
main.product .content .card-body .card img{
    border: 1px solid #bfbfbf;
    padding: 5px;
}
main.product .content .card-body .card .card-body{
    padding: 0;
}
main.product .content .card-body .card .card-body .card-title{
    text-align: left;
    margin-bottom: 30px;
}
main.product .content .card-body .card .card-body .card-text{
    text-align: left;
    font-size: 15px;
}
main.product .other .slide{
    margin-top: 22px;
    margin-bottom: 40px;
}
main.product .other .slide .sp .card{
    border-radius: 0;
    padding-top: 4px;
}
main.product .other .slide .sp .name{
    text-align: center;
    margin-bottom:0px;
    font-size: 14px;
    color: black;
}
main.product .other .slide .sp .price{
    margin-bottom: 0;
    color:#46ad0e ;
    text-align: center;
    font-size: 14px;
}